{% extends 'questions/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class='container'>
    <div class = 'container__variants-field'>
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class = 'container__field'>
            <label class="control-label" for="username">Имя пользователя</label>
            <br>
                <input type="text" id="username" name="username"  placeholder="Username">
                <br>
            <label class="control-label" for="password">Пароль</label>
            <br>
                <input type="password" name="password" id="password" placeholder="Password">
                <br>
                <div class = 'container__submit'><input type="submit" value='Логин'> </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

